<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Server=192.168.1.45;Database=StoreManagement;User Id=app;Password=1;TrustServerCertificate=True;" />
	</connectionStrings>
	<appSettings>
		<add key="FirebaseAPIKey" value="AIzaSyAPuFJUlPZ8D6OO37ApiXWCFcnYFc-p7HI" />
	</appSettings>
</configuration>